* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}
html,
body {
  height: 100%;
  width: 100%;
}

/* navbar */
#nav {
  height: 15vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.6vw;
background-color: transparent;
  padding-right: 3vw;
}
#navBtn1 {
  font-size: 2vw;
  padding: 0.5vw 1.2vw;
  border: none;
  background-color: #222121;
  color: #fff;
  border-radius: 50px;
}
#navBtn2 {
  font-size: 1.5vw;
  font-family: Verdana;
  padding: 0.8vw 1.1vw;
  background-color: #222121;
  border: none;
  color: #fff;
  font-weight: 400;
  border-radius: 30px;
}
/* navbar complete */
/* page1 Content */
#page1Content {
  height: 23vw;
  margin-top: 15vh;
}
h1 {
  font-size: 120px;
  font-family: verdana;
  color: #222121;
  font-weight: 550;
  margin-left: 4vw;
}
#page1DownContent{
    display: flex;
    justify-content: space-between;
}
h4 {
  font-size: 1.8vw;
  margin-left: 4vw;
  margin-right: 4vw;
  color: #222121;
  font-weight: 580;
  font-family: verdana;
}
#lastH5{
    font-weight: 900;
    margin-left: 85%;
    margin-bottom: 60%;
}
/* images */
#img1{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
/* page 2 */
#page2Content{
  height: 511px;
  display: flex;
  border-bottom: 2px solid black;
}
#p2Child1{
  height: 100%;
  width: 60%;
  background-color: rgb(238, 238, 238);

  display: flex;
  align-items: flex-start;
}
#p2Child2{
  height: 100%;
  width: 40%;
  display: inline;
}
#p2para1{
  font-size: 69px;
  font-family: verdana;
  color: #222121;
  font-weight: 550;
  padding: 2.9vw 2vw;
  border-right: 2px solid black;
}
#p2Child2 h4{
margin-top: 3.5vw;
}
#icon svg{
  height: 2.5vw;
  color: #222121;
}
#icon{
  position: absolute;
  top: 219%;
  left: 63.4vw;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* page 3 */
#page3Content{
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0vw 4vw;
  border-bottom: 2px solid black;
}

#child1{
  height: 390px;
  width: 40vw;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-right: 4vw;
}
#child2{
  height: 390px;
  width: 60vw;
  display:inline;
  justify-content:space-between;
}
#cChild1{
  height: 160px;
  width: 100%;
  margin-bottom: 2.3vw;
  display: flex;
}
#cChild2{
  height: 160px;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
}
#ccChild1{
  height: 100%;
  width: 50%;
  border-right: 2px solid black;
}
#ccChild2{
  height: 100%;
  width: 50%;
}
#c2Child1{
  height: 100%;
  width: 100%;
  margin-top: 2.1vw;
  border-right: 2px solid black;
}
#c2Child2{
  height: 100%;
  width: 100%;
  margin-top: 2.1vw;
}
#p3h1{
  font-size: 1.8vw;
  margin-left: 4vw;
  margin-right: 4vw;
  color: #242323;
  font-weight: 580;
  font-family: verdana;
}
#p1svg{
  height: 35px;
  position: absolute;
  left: 81%;
}
#p3svg{
  height: 35px;
}
#ccChild1 h1{
  font-size: 38px;

}
#ccChild1 p{
  font-size: 20px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 0.8vw;
  text-align: left;
  color: gray;
}
#ccChild2 h1{
  font-size: 38px;
}
#ccChild2 p{
  font-size: 18px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 0.8vw;
  text-align: left;
  color: gray;
}
#c2Child1 h1{
  font-size: 38px;
}
#c2Child1 p{
  font-size: 18px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 0.8vw;
  text-align: left;
  color: gray;
}
#c2Child2 h1{
  font-size: 38px;
}
#c2Child2 p{
  font-size: 18px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 0.8vw;
  text-align: left;
  color: gray;
}
/* work */
#work{
  height: 210px;
  display: flex;
  align-items: center;
}
#work h1{
  font-size: 120px;
}
#pinke1{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#camera{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-right: 150px;
  /* margin-bottom: 100px; */
}
#camera p{
  font-size: 18px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 2vw;
  text-align: left;
  color: gray;
}
#cmeraleftContent{
  height: 20%;
  display: inline;
}
#cmeraleftContent :nth-last-child(2){
  margin-left:4vw ;
  margin-top: 3vw;
  margin-right: 0.6vw;
}
#cmeraleftContent button{
  font-size: 0.8vw;
  font-family: Verdana;
  font-weight: 550;
  padding: 0.6vw 1vw;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #111;
}
/* img3 */
#img3Noise , #img4Robot{
  height: 100vh;
  width: 100%;
  margin-top: 2vw;
  object-fit: cover;
  object-position: top;
}
#noise{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-right: 180px;
  /* margin-bottom: 100px; */
}
#noise p{
  font-size: 18px;
  font-family: verdana;
  margin-left:4vw ;
  margin-top: 2vw;
  text-align: left;
  color: gray;
}
#noiseleftContent{
  height: 20%;
  display: inline;
}
#noiseleftContent :nth-last-child(2){
  margin-left:4vw ;
  margin-top: 3vw;
  margin-right: 0.6vw;
}
#noiseleftContent button{
  font-size: 0.8vw;
  font-family: Verdana;
  font-weight: 550;
  padding: 0.6vw 1vw;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #111;
}